.container {
  position: absolute;
  height: 75vh;
  width: 70vw;
  top: 50px;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: rgb(37, 35, 35);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(252, 238, 221);
  border-radius: 5px;
  border: 1px solid rgb(252, 238, 221);
  overflow: scroll;
}

.btnContainer {
  margin: 0;
  position: sticky;
  top: 20px;
}
.btnClose {
  border: none;
  background-color: transparent;
  transform: translateX(250%);
}

.btnIcon {
  transition: all ease-in 0.3s;
  fill: rgb(252, 238, 221);
}
.btnIcon:hover {
  fill: rgb(207, 192, 175);
  transform: scale(1.1);
  cursor: pointer;
}

.meals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
}

.content {
  width: 95%;
  height: 80%;

  justify-content: space-between;
  margin: 20px;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(252, 238, 221);
}

.confirm {
  position: sticky;
  top: 350px;
}

.btnConfirm {
  margin-top: 5px;
  border: none;
  color: rgb(252, 238, 221);
  transition: all ease-in 0.3s;
  background-color: transparent;
  font-weight: 600;
  font-size: 30px;
}

.btnConfirm:hover {
  color: rgb(207, 192, 175);
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .btnClose {
    transform: translateX(200%);
  }
}

@media (max-width: 1020px) {
  .btnContainer {
    position: fixed;
    top: 10px;
    left: 45vw;
  }
}

@media (max-width: 700px) {
  .container {
    position: fixed;
    display: flex;
    flex-direction: column;
    display: grid;

    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateX(0);
    font-size: 15px;
  }

  .content {
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
  }

  .btnContainer {
    position: fixed;
    top: 10px;
    left: -25px;
  }

  .btnIcon {
    margin: 0;
  }

  @media (max-width: 400px) {
  }
  .btnConfirm {
    font-size: 20px;
    display: inline-block;
  }

  .content {
    grid-template-columns: 1fr;
    width: 90%;
    overflow-x: hidden;
  }

  .confirm {
    position: fixed;
    top: 90vh;
    width: 85%;
    margin-left: 20px;
    display: inline-block;
    overflow-x: hidden;
  }

  .meals {
    width: 80%;
    grid-template-columns: 1fr;
  }

  .btnClose {
    transform: translateX(250%);
    position: absolute;
    top: 20px;
    left: 180px;
    z-index: 1;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 5px;

    padding-left: 0;
    background-color: rgb(37, 35, 35);
  }

  .total {
    display: inline-block;
  }
}
