.nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 100vw;
  justify-items: center;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.573);
  align-items: center;
  justify-items: start;
}

.hamburderMenu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin-bottom: 150px;
  position: fixed;
  top: 0;
  background-color: rgba(37, 35, 35);
  font-size: 30px;
  z-index: 99;
}

.logo {
  height: 50px;
  opacity: 0.95;
  margin-left: 20px;
  margin-top: 10px;
}

.logoSmallScreen {
  height: 50px;
}

.navBtn {
  font-size: 20px;
  color: bisque;
  border: none;

  background-color: transparent;
  outline: none;
}

.btnContainer {
  position: absolute;
  top: 80px;
  right: 0px;
  height: 100vh;
}

.btn {
  position: sticky;
  border-radius: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: none;
  background-color: transparent;
  z-index: 98;
}

.icon {
  margin: 0;
  height: 40px;
  width: 40px;

  fill: rgb(37, 35, 35);
  background-color: rgba(255, 228, 196, 0.653);
  padding: 8px;
  border-radius: 100%;
  position: relative;
  transition: all ease-in 0.3s;
}

.headerMobileMenu {
  display: grid;
  grid-template-columns: 10fr 1fr;
  column-gap: 50px;

  margin-bottom: 150px;
  margin-top: 50px;
  align-self: center;
  justify-items: center;
  justify-self: center;
}
