.mealItemContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 2/3;
  padding: 20px;
  border-bottom: 1px solid rgba(37, 35, 35);
  background-color: rgba(255, 228, 196, 0.674);
  height: fit-content;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.mainSection {
  width: 100%;
  background-color: rgb(37, 35, 35);
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
}

.formContainer {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  row-gap: 10px;
  width: 80%;
}

.form {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  row-gap: 20px;
}

.mail {
  display: flex;
  flex-direction: column;
}

.questionContainer {
  display: flex;
  flex-direction: column;
}

.question {
  padding: 5px 5px 100px 5px;
}

input {
  background-color: rgba(37, 35, 35, 0.568);
  border: none;
  border-radius: 3px;
  color: rgb(253, 240, 224);
  font-size: 20px;
  margin-bottom: 25px;
}

.mailInput {
  padding: 5px;
}

.btn {
  margin-top: 20px;
  height: 50px;
  width: 20%;
  justify-self: end;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: bisque;
  transition: all ease-in 0.3s;
  background-color: rgba(37, 35, 35, 0.568);
  font-weight: 400;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnInactive {
  margin-top: 20px;
  height: 50px;
  width: 20%;
  justify-self: end;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: bisque;
  font-weight: 400;
  font-size: 15px;
  background-color: rgba(111, 107, 107, 0.568);
  cursor: not-allowed;
}

.btn:hover {
  color: rgb(222, 198, 169);
  transform: scale(0.97);
  cursor: pointer;
}

.btn:active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
  margin: 0;
  border-radius: 3px;
  outline: none;
}

.address {
  margin-top: 5px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 100%;
  width: 100%;
}

.mapContainer {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 2px 8px 30px 1px #1f1e1ec0;
  box-shadow: 2px 8px 10px 1px #1f1e1ec0;
}

.addressContainer {
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.span {
  font-size: 15px;
  color: rgb(127, 58, 74);
  font-weight: 600;
}

.confirmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  background-color: rgba(37, 35, 35);
  color: bisque;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 700px) {
  .btn:hover {
    color: bisque;
    transform: scale(1);
  }

  .mealItemContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 0;
  }

  .formContainer {
    grid-template-rows: 1fr 3fr;
    row-gap: 5px;
    margin-bottom: 10px;
  }

  .btnInactive {
    width: 30%;
  }

  .addressContainer {
    grid-template-columns: 1fr;
    row-gap: 5px;
    width: 90%;
  }
}

@media (max-width: 850px) {
  .mealItemContainer {
    grid-template-columns: 3fr 2fr;
  }
}
